/* Shared
--------------------------------------------- */

.footnote-wrapper,
.footnotes-footer {
	display: none;
}

.footnotes-footer {
	@include breakpoint-below(tablet-portrait) {
		display: block;
	}

	&.footnote-hidden {
		display: none;
	}

	@include font-body($size: small);

	border-top: 1px solid $color__border;
	margin-top: $spacing__small;
	padding-top: $spacing__small;

	.footnotes-footer-title {
		margin-bottom: $spacing__small;
		@include font-label();
	}

	.footnote-cta {
		display: none;
	}
}

.footnote-wrapper {
	display: none;
	@include font-body($size: small);

	.single-post & {
		display: inline;
	}
}

.footnote-anchor {
	padding: 4px;
}

.footnote a {
	text-decoration: none;
}

.footnote-note {
	display: grid;
	grid-template-columns: 15px 1fr;
	cursor: pointer;
	a {
		overflow-wrap: break-word;
	}

	.footnote-hidden & {
		visibility: hidden;
	}
}

.footnote-note-sep {
	margin-left: 3px;
	color: $color__border;
}

/* Stacked (Desktop + Tablet) Layout
--------------------------------------------- */
.footnote-stacked {
	.footnote-note {
		padding: $spacing__x-small;
		position: absolute;
		right: 0;
		width: 206px;
		margin-right: 1px; // tolerance needed for box-shadow display
	}

	.footnote-anchor {
		&:hover,
		.footnote-open & {
			background: $color__background-button;
			color: $color__text-button;
		}
	}

	.footnote-note-content {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	.footnote-cta-more {
		display: inline;
	}

	.footnote-cta-less {
		display: none;
	}

	&.footnote-open {
		.footnote-note {
			background: $color__background-body;
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
			z-index: 3;
		}

		.footnote-note-content {
			display: block;
			overflow: auto;
		}

		.footnote-cta-more {
			display: none;
		}

		.footnote-cta-less {
			display: inline;
		}
	}
	.footnote-cta {
		display: block;
		grid-row: 2;
		grid-column: 2;
	}
}

/* Inline (Mobile) Layout
--------------------------------------------- */
.footnote-inline {
	.footnote-note {
		display: none;
		background: $color__background-footnote;
		padding: $spacing__x-small $spacing__x-large $spacing__x-small
			$spacing__small;
		margin: $spacing__x-small 0;
	}

	&.footnote-open {
		.footnote-note {
			display: grid;
		}
	}
	.footnote-cta {
		display: none;
	}
}
