$__INTERNAL_USE_ONLY_COLOR_RED__: #ad0000;
$__INTERNAL_USE_ONLY_COLOR_WHITE__: #fff;
$__INTERNAL_USE_ONLY_COLOR_LIGHT_GREY__: #f5f5f5;
$__INTERNAL_USE_ONLY_COLOR_MEDIUM_GREY__: #ccc;
$__INTERNAL_USE_ONLY_COLOR_DARK_GREY__: #5f5f5f;
$__INTERNAL_USE_ONLY_COLOR_PRIMARY_GREY__: #151515;
$__INTERNAL_USE_ONLY_COLOR_SECONDARY_BLUE__: #e6f4f9;
$__INTERNAL_USE_ONLY_COLOR_PRIMARY_BLUE__: #007db3;

$color__background-body: $__INTERNAL_USE_ONLY_COLOR_WHITE__;
$color__background-secondary: $__INTERNAL_USE_ONLY_COLOR_LIGHT_GREY__;
$color__background-screen: $__INTERNAL_USE_ONLY_COLOR_LIGHT_GREY__;
$color__background-hr: $__INTERNAL_USE_ONLY_COLOR_MEDIUM_GREY__;
$color__background-button: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_GREY__;
$color__background-pre: $__INTERNAL_USE_ONLY_COLOR_LIGHT_GREY__;
$color__background-ins: $__INTERNAL_USE_ONLY_COLOR_LIGHT_GREY__;

$color__text-button: $__INTERNAL_USE_ONLY_COLOR_WHITE__;
$color__text-screen: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_GREY__;
$color__text-input: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_GREY__;
$color__text-input-focus: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_GREY__;
$color__link: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_BLUE__;
$color__link-visited: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_BLUE__;
$color__link-hover: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_BLUE__;
$color__text-main: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_GREY__;

$color__border-input: $__INTERNAL_USE_ONLY_COLOR_MEDIUM_GREY__;
$color__border-input-focus: $__INTERNAL_USE_ONLY_COLOR_PRIMARY_GREY__;
$color__border-abbr: $__INTERNAL_USE_ONLY_COLOR_DARK_GREY__;
$color__border: $__INTERNAL_USE_ONLY_COLOR_MEDIUM_GREY__;
