node_modules
vendor
package-lock.json
composer.lock
style.css.map
.DS_Store
wp-content/themes/*
!wp-content/themes/due-processed
due-processed/vendor/*
wp-content/plugins/*
wp-content/themes/due-processed/vendor/*
