node_modules
vendor
package-lock.json
style.css.map
.DS_Store
wp-content/themes/*
!wp-content/themes/due-processed
due-processed/vendor/*
wp-content/plugins/*
wp-content/cache/*
wp-content/uploads/*
due-processed.zip
