.wp-block-due-processed-custom-paragraph {
	display: flex;
	justify-content: center;
	background-color: $color__custom-paragraph;
    width: 200vw;
    position: relative;
    left: calc(-100vw + 50%);
    padding-top: $spacing__medium;
    padding-bottom: $spacing__medium;
    margin-bottom: $spacing__medium;

	@include breakpoint-above(tablet-landscape) {
        @include font-header($size: small);
        line-height: 38px;
        padding-top: $spacing__large;
        padding-bottom: $spacing__large;
        margin-bottom: $spacing__large;
	}
}

.wp-block-due-processed-custom-paragraph p {
    margin: 0;
    max-width: 100vw;
    padding-left: $spacing__medium;
    padding-right: $spacing__medium;

	@include breakpoint-above(tablet-landscape) {
        max-width: $size__content-about-width;
        padding: 0;
    }
}
