h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
}

h1 {
	@include font-header($size: large);
}

h2 {
	@include font-header($size: small);
}

h3 {
	@include font-body($size: large);
}

h4 {
	@include font-body($size: medium);
}

h5,
h6 {
	@include font-body($size: small);
}
