.masthead-header {
	@include font-body($size: medium);
	margin-bottom: $spacing__large;
}

.masthead {
	display: flex;
	justify-content: center;
	margin-bottom: $spacing__small;
}

.masthead-item {
	padding: 0 $spacing__medium;
	text-align: center;
}

.masthead-image {
	min-width: 141px;
	min-height: 141px;
	width: 141px;
	height: 141px;
	background-color: #ccc;
	border-radius: 50%;
	margin-bottom: $spacing__small;
}

.masthead-title {
	@include font-label();
	margin: 0 0 $spacing__x-small;
}

.masthead-name {
	@include font-body($size: medium);
	margin: 0;
}
