.about-container {
	@include breakpoint-above(tablet-landscape) {
		display: flex;
		justify-content: center;
		margin-top: $spacing__small;
	}

	h1 {
		margin-bottom: $spacing__medium;
		@include breakpoint-below(tablet-portrait) {
			@include font-header($size: small);
		}
	}

	h1,
	h2 {
		text-align: center;
	}

	h2 {
		@include font-header($size: large);
		margin-bottom: $spacing__medium;
		@include breakpoint-below(tablet-portrait) {
			@include font-header($size: small);
		}
	}

	.entry-content {
		max-width: $size__content-about-width;
	}
}
