.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-header {
	text-align: center;
}

.page-title {
	margin: 0 0 $spacing__large;
	text-align: center;
	@include font-header($size: large);
	@include breakpoint-below(tablet-portrait) {
		margin-bottom: $spacing__small;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.edit-link {
	display: block;
	text-decoration: underline;
}

.edit-link,
.categories-links,
.tags-links {
	@include font-label();
}

// TODO: Ask Eunie about tags; hiding for now
.tags-links {
	display: none;
}

.entry-footer,
.entry-meta {
	@include font-label();
}

.entry-title {
	a,
	a:visited {
		color: $color__primary_grey;
	}
}
