.wp-block-due-processed-custom-paragraph {
	display: flex;
	justify-content: center;
	background-color: $color__custom-paragraph;
	@include breakpoint-above(tablet-landscape) {
		width: 200vw;
		position: relative;
		left: calc(-100vw + 50%);
	}
}

.wp-block-due-processed-custom-paragraph p {
	width: 636px;
}
