/* stylelint-disable selector-type-no-unknown */
.due-processed-footnotes-admin-button {
	background: url(images/dpfn-editor-button.png) 4px 5px no-repeat !important;
	display: block;
	width: 30px;
	height: 30px;
	padding: 5px;
}

.block-editor-rich-text__editable > dpfn:first-of-type::before {
	content: "footnote";
	color: #888;
	font-size: 12px;
	position: relative;
	top: -5px;
	margin-right: 3px;
	margin-left: 3px;
}

dpfn {
	background: #ccc;
}
