// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) -
		(($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin primary-page-width {
	width: calc(100% - (2 * 60px));
	max-width: 1440px;
	margin: 0 auto;
	@include breakpoint-below(tablet-portrait) {
		width: calc(100% - (2 * 20px));
	}
}
