.page-id-7 .site-main {
  display: flex;
  justify-content: center;
  line-height: 30px;
  margin: 0;
  width: 100vw; }

.page-id-7 h1,
.page-id-7 h2 {
  font-size: 2.8rem;
  text-align: center; }

.page-id-7 .entry-content {
  max-width: 636px; }
