.main-navigation {
	display: block;
	width: 100%;

	.main-navigation ul {
		display: flex;
	}

	.menu,
	.sub-menu {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.menu {
		display: flex;
	}

	.menu-item {
		@include font-label();
		position: relative;
		white-space: nowrap;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.menu {
		> .menu-item {
			> a {
				line-height: 60px;
				margin-right: $spacing__x-large;
				border-bottom: 3px solid transparent;
				transition: border 0.3s ease;
				cursor: pointer;

				&:hover,
				&.focus {
					border-bottom: 3px solid $color__link-hover;
				}
			}

			&:hover > .sub-menu,
			&.focus > .sub-menu {
				display: block;
			}

			> .sub-menu {
				@include breakpoint-above(tablet-landscape) {
					background-color: $color__background-body;
					border-top: 1px solid $color__border;
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
					padding: $spacing__small $spacing__small $spacing__x-small
						$spacing__small;
					display: none;
					position: absolute;
					min-height: 200px;
					width: 250px;
					top: 63px;
					left: -20px;
					z-index: 99999;
				}

				.sub-menu {
					margin-left: $spacing__x-small;
				}

				.menu-item {
					a {
						margin-bottom: $spacing__x-small;
					}
				}
			}
		}
	}
}

/* Small menu. */

.main-navigation-icon,
.main-navigation-icon.toggled {
	width: 30px;
	height: 30px;
	padding: 0;
	background: $color__background-body;
	color: $color__text-main;

	&:hover {
		opacity: 0.85;
		color: $color__text-main;
	}

	> span {
		display: inline-block;

		&.main-navigation-close {
			padding: 6px;
		}
	}
}

.main-navigation-icon {
	@include breakpoint-above(tablet-landscape) {
		display: none;
	}

	@include breakpoint-below(tablet-portrait) {
		display: block;

		.main-navigation-close {
			display: none;
		}
		.main-navigation-hamburger {
			display: block;
		}

		&.toggled {
			.main-navigation-close {
				display: block;
			}
			.main-navigation-hamburger {
				display: none;
			}
		}
	}
}

.main-navigation {
	@include breakpoint-below(tablet-portrait) {
		display: none;
		position: absolute;
		width: 100%;
		background: $color__background-body;
		height: 100vh;
		z-index: 1000;
		top: 55px;
		overflow: scroll;
		padding-bottom: 80px;

		.menu-item {
			padding: 0 $spacing__small;
			margin: 0;

			> .sub-menu {
				border-top: 1px solid $color__border;
				margin-top: $spacing__x-small;
				padding-top: $spacing__medium;
			}
		}

		.menu {
			> .menu-item {
				&.menu-item-has-children {
					> a {
						display: none;
					}
				}
				.menu-item {
					padding: 0;
				}
				> .sub-menu {
					.menu-item {
						a {
							margin-bottom: $spacing__medium;
						}
					}

					.sub-menu {
						display: none;
					}
				}
			}
		}

		&.toggled {
			display: block;

			.menu {
				display: block;
			}
		}
	}
}
