.site-header {
	border-bottom: 1px solid $color__border;
	padding-top: $spacing__small;

	a {
		color: $color__text-main;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: $color__text-main;
		}
	}

	@include breakpoint-below(tablet-portrait) {
		padding-top: 15px; // Using non-standard spacing to align logo
		padding-bottom: $spacing__x-small;
	}

	.search-form-wrapper {
		@include breakpoint-above(tablet-landscape) {
			width: 300px;
		}

		@include breakpoint-below(tablet-portrait) {
			margin-top: $spacing__x-small;
		}
	}
}

.site-header-top {
	display: flex;

	@include breakpoint-above(tablet-landscape) {
		@include primary-page-width();
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}

	@include breakpoint-below(tablet-portrait) {
		margin: 0 $spacing__small;
		flex-wrap: wrap;
	}
}

.site-branding {
	display: flex;
	align-items: flex-end;

	@include breakpoint-above(tablet-landscape) {
		width: 300px;
	}

	@include breakpoint-below(tablet-portrait) {
		width: 195px;
		margin-left: $spacing__small;
	}
}

.site-branding-link {
	display: inline-block;
	width: 100%;
}

.site-header-bottom {
	@include breakpoint-above(tablet-landscape) {
		@include primary-page-width();
		display: flex;
	}
}

.site-title {
	@include font-header($size: large);
}
