.site-header {
	border-bottom: 1px solid $color__border;
	height: 130px;
	padding-top: $spacing__small;
	padding-bottom: $spacing__small;


	a {
		color: $color__text-main;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: $color__text-main;
		}
	}
}

.site-header-top {
	@include breakpoint-above(tablet-portrait) {
		@include primary-page-width();
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}
	flex-direction: column;
	height: 50px;
	margin: 0 $spacing__small;
	display: flex;
}

.site-header-bottom {
	@include primary-page-width();
	display: flex;
	height: 80px;
	padding-top: $spacing__small;
	padding-bottom: $spacing__small;
}

.site-title {
	@include font-header($size: large);
}
