@font-face {
  font-family: "Lora Regular";
  src: url(./fonts/Lora-Regular.woff2) format("woff");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lora Medium";
  src: url(./fonts/Lora-Medium.woff2) format("woff");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Work Sans Light";
  src: url(./fonts/WorkSans-Light.woff2) format("woff");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lora Regular";
  src: url(./fonts/Lora-Italic.woff2) format("woff");
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lora Medium";
  src: url(./fonts/Lora-MediumItalic.woff2) format("woff");
  font-style: italic;
  font-display: swap; }

.wp-block-due-processed-custom-paragraph {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: #007db3; }

.wp-block-due-processed-custom-paragraph p {
  width: 636px;
  line-height: 38px; }
