.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-label($size: medium);
	border: none;
	background: $color__background-button;
	color: $color__text-button;
	height: 40px;
	line-height: 1;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	outline: none;

	&:hover {
		opacity: 0.85;
		color: $color__text-button;
	}

	&:active,
	&:focus {
		opacity: 0.85;
	}

	&:visited {
		opacity: 1;
	}
}
.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
