a {
	color: $color__link;
	text-decoration: none;
	transition: opacity 0.3s ease;

	&:visited {
		color: $color__link-visited;
	}

	&:hover {
		opacity: 0.85;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
